.form-view-bg {
  /* background: #ffffffd3; */
  background-color: var(--bg-color);
  height: 100dvh;
  width: 100%;
  padding: var(--padding);
  /* padding-top: 0; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.form-container {
  height: 100%;
  max-width: var(--container-width);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-container__header {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
}

.form-container__control-btn {
  aspect-ratio: 1/1;
  width: var(--control-button-size);
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  transition: var(--transition-short);
}

.form-container__control-btn:active {
  background: #e9e9ed;
  /* background: var(--font-color); */
}

@media (hover: hover) {
  .form-container__control-btn:hover {
    background: #e9e9ed;
  }
}

.form-container__control-btn:disabled {
  background: unset;
  cursor: unset;
  /* cursor: no-drop; */
}

.form-container__control-btn:disabled > .control-btn__icon > polygon {
  fill: gray;
}

.control-btn__icon {
  font-size: calc(var(--control-button-size) / 2);
  vertical-align: middle;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex-grow: 1;
}

input,
textarea {
  border-radius: calc(var(--border-radius) * 1.6);
  border: var(--border);
  outline: none;
  color: var(--input-color);
}

.form__title-input {
  padding: var(--padding-s) var(--padding-m);
  font-size: 2.1rem;
}

.form__secondary-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form__note-colors {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) * 2);
  border: none;
}

.form__date {
  padding: 0 var(--padding);
  color: #535f6b;
  font-weight: bolder;
  text-wrap: nowrap;
}

.form__text-area {
  padding: var(--padding-m);
  resize: none;
  flex-grow: 1;
}

@media (max-width: 625px) {
  .form__note-colors {
    gap: 1rem;
  }

  .form__date {
    text-align: center;
  }
}

@media (max-width: 560px) {
  .form-container__header {
    padding: 0.8rem 0;
  }

  .form__note-colors {
    gap: 0;
    flex-grow: 1;
    justify-content: space-between;
  }
  .form__date {
    padding: 0 var(--padding);
  }
}

@media (max-width: 475px) {
  .form__secondary-options {
    justify-content: space-evenly;
  }
  .form__note-colors {
    justify-content: space-evenly;
  }
  .form__date {
    font-size: 0.8rem;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .form-view-bg {
    padding-top: 0;
  }
}

/* @media (max-width: 380px) {
  .form-container__header {
    padding: 0;
  }
} */
