.note-card {
  /* aspect-ratio: 1/1.6; */
  text-wrap: balance;
  padding: var(--padding-m) var(--padding);
  list-style: none;
  border-radius: var(--border-radius);
  transition: transform ease-out 0.1s;
  cursor: pointer;
  overflow: hidden;

  text-overflow: ellipsis;
  /* box-shadow: -2px -2px 2px 1px #f5f5f577 inset; */
}

.note-card__title {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.note-card__description {
  height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: var(--gap);
  line-height: 1.2rem;
  line-height: 1rem;
  opacity: 0.7;
}


.bg-red {
  background: #fc6c53;
}
.bg-blue {
  background-color: var(--blue);
}
.bg-turquoise {
  background-color: var(--turquoise);
}
.bg-green {
  background-color: var(--green);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-violet {
  background-color: var(--violet);
}
.bg-orange {
  background-color: var(--orange);
}

.note-card:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 5px -1px #424242;
}
