@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --turquoise: #1cdddc;
  --blue: #b9e9ff;
  --green: #97e3b8;
  --pink: #febdc4;
  --violet: #bdb4ff;
  --orange: #ffcf87;
  --red: #fc6c53;

  --bg-color: #ffffff;
  --bg-color-transparent: #ffffffd9;
  --font-color: #424242;
  --border-color: #708090;

  --margin: 1rem;
  --margin-m: calc(var(--margin) * 1.6);
  --margin-l: calc(var(--margin) * 2);

  --padding: 1rem;
  --padding-s: calc(var(--padding) / 3);
  --padding-m: calc(var(--padding) * 1.6);
  --gap: 0.7rem;

  --input-title-size: 2.1rem;

  --border: 2px solid var(--border-color);

  --title-size: 2.1rem;
  --radio-color-size: 1.4rem;
  --container-width: 800px;
  --transition-short: all 0.25s ease;
  --control-button-size: 4rem;
  --border-radius: 1rem;

  --input-color: #535f6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --turquoise: #22a2a1;
    --blue: #37c0ff;
    --green: #39a266;
    --pink: #ff6374;
    --violet: #8b7df0;
    --orange: #d98200;
    --red: #db4c33;
    --bg-color: #242424;

    --bg-color-transparent: #242424f6;
    --font-color: #ffffff;
    --input-color: var(--bg-color);
  }
}

@media (max-width: 560px) {
  :root {
    --title-size: 1.6rem;
  }
}

@media (max-width: 475px) {
  :root {
    --radio-color-size: 1.2rem;
  }
}

@media (max-width: 380px) {
  /* :root {
    --control-button-size: 3.6rem;

  } */
  * {
    font-size: 16px;
  }
}
