@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --turquoise: #1cdddc;
    --blue: #b9e9ff;
    --green: #97e3b8;
    --pink: #febdc4;
    --violet: #bdb4ff;
    --orange: #ffcf87;
    --red: #fc6c53;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 300; */
  font-style: normal;
}

/* html {
  background: #000;
}

input, textarea {
  background: #00000056;
}

header {
  background: #ffffff56;

} */